/** Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background-color: #000;
  --primary-text-color: #fff;
  --card-bg-color: #3f3d3d;
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
}